.keys/*
!.keys/place-your-keys-here
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
ansible/inventory
docker-images/*
!docker-images/readme.md
**/.DS_Store
